/*default div to have the correct top and bottom margin*/
.content {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*Gallery Slide*/

#slide2 {
    background-color: #FFFFD7;
}
/*Media slide*/

#slide3 {
    background-color: #FFD69D;
}
/*Blog slide*/

#slide4 {
    background-color: #FFDFDF;
}
/*Outreach slide*/

#slide5 {
    background-color: #FFFAFA
}